VITE_APP_ENV=production
VITE_APP_NAME="ZENITH"
VITE_APP_URL="https://app.zenith.exchange"
VITE_WALLETCONNECT_PROJECT_ID=""
VITE_ALCHEMY_API_KEY=""
VITE_INFURA_API_KEY=""
VITE_SOLANA_RPC_URL="https://api.mainnet-beta.solana.com"
VITE_FLASHBOTS_RELAY_URL="https://relay.flashbots.net"
